In [5]:
import pandas as pd
import numpy as np

In [105]:
df = pd.read_csv('supermen.csv', index_col=0)

In [106]:
df.head()

,x_top_left,y_top_left,x_top_right,y_top_right,x_bot_left,y_bot_left,x_bot_right,y_bot_right
0,924,120,1199,50,939,471,1229,444
1,924,120,1199,50,939,471,1229,444
2,924,120,1199,50,939,471,1229,444
3,924,120,1199,50,939,471,1229,444
4,924,120,1199,50,939,471,1229,444

In [107]:
df.loc[120]

x_top_left     1039
y_top_left      124
x_top_right    1279
y_top_right      59
x_bot_left     1059
y_bot_left      508
x_bot_right    1279
y_bot_right      59
Name: 120, dtype: int64

In [93]:
x_top_left = df['x_top_left']
y_top_left = df['y_top_left']
x_bot_left = df['x_bot_left']
y_bot_left = df['y_bot_left']

x_top_right = df['x_top_right']
y_top_right = df['y_top_right']
x_bot_right = df['x_bot_right']
y_bot_right = df['y_bot_right']

df['left_height'] = np.sqrt((x_top_left-x_bot_left[0])**2+(y_top_left-y_bot_left)**2)
df['top_width'] = abs(x_top_left - x_top_right)
df['bot_width'] = abs(x_bot_left - x_bot_right)
df['ratio_top'] = left_height/top_width
df['ratio_bot'] = left_height/bot_width

df['tmp_top_r_x'] = x_top_left + left_height / 1.45
df['tmp_bot_r_x'] = x_bot_left + left_height / 1.4
#     top_right[1] = y_top(tmp_top_r_x)
#     bot_right[1] = y_bot(tmp_bot_r_x)
# top_right[0] = tmp_top_r_x
# bot_right[0] = tmp_bot_r_x
# print(bot_right)

# print(self.min_ratio)

# if bot_right[0] == top_right[0]:
#     new_array = approx[np.where(approx == frame_copy.shape[1] - 1)[0].tolist()]
#     new_index_max = np.ravel(np.argmax(new_array, axis=0))
#     bot_right = new_array[new_index_max[1]].tolist()[0]

In [100]:
df['y_top'] = (tmp_top_r_x-x_top_left)*(y_top_right-y_top_left)/(x_top_right-x_top_left)+y_top_left
df['y_bot'] = (tmp_bot_r_x-x_bot_left)*(y_bot_right-y_bot_left)/(x_bot_right-x_bot_left)+y_bot_left

In [101]:
tmp_top_r_x, x_top_left, x_top_right, y_top_left, y_top_right = df.loc[120, ['tmp_top_r_x', 'x_top_left', 'x_top_right', 'y_top_left', 'y_top_right']]

In [102]:
(1342 - 1059) * (59 - 124)/(1279 - 1039) + 124

50.0625

In [99]:
(tmp_top_r_x-x_top_left)*(y_top_right-y_top_left)/(x_top_right-x_top_left)+y_top_left

49.88370181069283

In [104]:
df.loc[120]

x_top_left     1039.000000
y_top_left      124.000000
x_top_right    1279.000000
y_top_right      59.000000
x_bot_left     1059.000000
y_bot_left      508.000000
x_bot_right    1279.000000
y_bot_right      59.000000
left_height     396.807258
top_width       240.000000
bot_width       220.000000
tmp_top_r_x    1312.660178
tmp_bot_r_x    1342.433756
ratio_top         1.653364
ratio_bot         1.803669
y_top            49.883702
y_bot          -134.736143
Name: 120, dtype: float64